name: test-matrix

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17', '21' ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: gradle
      - uses: gradle/actions/setup-gradle@v3
      - name: Run tests on ${{ matrix.java }}
        run: ./gradlew :core:test :app:test --no-daemon
